{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="{% static 'cars.css' %}">
</head>
<body>
    <button><img src="button.png" alt=""></button>
    <div id="list">
  <table class="table">
    <thead>
      <tr>
          <th>Фото</th>
          <th>Марка и модель</th>
          <th>Год/Объём</th>
          <th>Номер</th>
          <th>Пробег</th>
          <th>Рассположение</th>
          <th>Комментарии</th>
          <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
    </div>
</body>
</html>