<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../static/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <button class="button">
      <i class="fa-solid fa-arrows-rotate">lol</i>
    </button>
    <div cla></div>
    <div class="table">
      <div class="table__item">
        <div class="table__item__image">image</div>
        <div class="table__item__information">
          <div class="table__item__information__title">title</div>
          <div class="table__item__information__main">
            <div class="table__item__information__main__year">year: 2020</div>
            <div class="table__item__information__main__lot-number">
              lot number: #1123141
            </div>
            <div class="table__item__information__main__auction">
              auction: LA
            </div>
            <div class="table__item__information__main__miles">
              miles: 20000 miles
            </div>
          </div>
        </div>
        <!-- <div class="table__item__description">
          <form class="table__item__description__form">
            <input type="text" />
          </form>
        </div> -->
      </div>
      <div class="table__item">
        <div class="table__item__image">image</div>
        <div class="table__item__information">
          <div class="table__item__information__title">title</div>
          <div class="table__item__information__main">
            <div class="table__item__information__main__year">year: 2020</div>
            <div class="table__item__information__main__lot-number">
              lot number: #1123141
            </div>
            <div class="table__item__information__main__auction">
              auction: LA
            </div>
            <div class="table__item__information__main__miles">
              miles: 20000 miles
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
